In [2]:
import pandas as pd

In [3]:
#Carga de los datos
df = pd.read_csv('data/video_game_sales.csv')
df.drop_duplicates()
df.dropna()
df.head(-1)

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,Game 0,Switch,2011,RPG,Electronic Arts,1.31,0.95,1.35,0.12,3.73
1,Game 1,Mobile,2011,Adventure,Ubisoft,1.73,2.08,1.02,0.78,5.61
2,Game 2,Xbox One,2003,Puzzle,Square Enix,4.59,0.82,1.72,0.91,8.04
3,Game 3,Mobile,2015,Strategy,Square Enix,1.46,0.58,1.73,0.39,4.16
4,Game 4,Mobile,2003,Sports,Electronic Arts,2.36,0.56,0.03,0.63,3.58
...,...,...,...,...,...,...,...,...,...,...
994,Game 994,Mobile,2018,RPG,Nintendo,3.32,0.58,1.35,0.68,5.93
995,Game 995,PS4,2014,RPG,Square Enix,2.06,0.13,1.96,0.08,4.23
996,Game 996,PC,2003,Sports,Square Enix,2.02,1.18,1.97,0.99,6.16
997,Game 997,PC,2020,Adventure,Ubisoft,4.42,2.41,1.38,0.41,8.62
998,Game 998,Switch,2012,Sports,Ubisoft,4.48,1.03,0.49,0.29,6.29

In [4]:
sales = df[df["Global_Sales"] > 7.0]
sales.head(-1)

# sales = df.query("Global_Sales > 1.0")
# print(sales["Name"])
# print(len(sales))

,Name,Platform,Year_of_Release,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
2,Game 2,Xbox One,2003,Puzzle,Square Enix,4.59,0.82,1.72,0.91,8.04
5,Game 5,PS4,2004,Strategy,Indie,4.45,1.03,1.56,0.44,7.48
10,Game 10,Switch,2008,Simulation,Indie,3.16,1.60,1.51,0.94,7.21
13,Game 13,PS4,2013,Adventure,Nintendo,4.79,0.91,1.98,0.74,8.42
23,Game 23,PC,2003,Puzzle,Square Enix,2.17,2.80,1.66,0.38,7.01
...,...,...,...,...,...,...,...,...,...,...
962,Game 962,PS4,2002,Simulation,Square Enix,4.95,1.54,1.36,0.86,8.71
970,Game 970,Switch,2004,Adventure,Ubisoft,4.68,0.62,1.59,0.83,7.72
984,Game 984,Xbox One,2010,Puzzle,Activision,3.31,1.54,1.26,0.94,7.05
988,Game 988,Xbox One,2015,Action,Activision,4.52,2.16,1.78,0.18,8.64
997,Game 997,PC,2020,Adventure,Ubisoft,4.42,2.41,1.38,0.41,8.62

In [5]:
total_sales_by_region = df[['NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales']].sum()
print("Ventas Totales por RegiÃ³n (Millones):")
print(total_sales_by_region)
print("----------------")
print("Total")
print(total_sales_by_region.sum())

Ventas Totales por RegiÃ³n (Millones):
NA_Sales       2502.33
EU_Sales       1478.01
JP_Sales        996.42
Other_Sales     502.24
dtype: float64
----------------
Total
5479.0

In [6]:
# Agrupamos por genero, tomamos los valores de las ventas globales, calculaos su media y ordenamos de manera desendente
average_sales_by_genre = df.groupby('Genre')['Global_Sales'].mean().sort_values(ascending=False)
print("Ventas Medias por GÃ©nero:")
average_sales_by_genre.head()
# print(average_sales_by_genre)

Ventas Medias por GÃ©nero:

Genre
Adventure    5.752484
Puzzle       5.607260
Action       5.516519
Sports       5.513086
Strategy     5.448243
Name: Global_Sales, dtype: float64

In [32]:
d = df.groupby(['Year_of_Release', 'Genre'])['Global_Sales'].sum().unstack()
d.head(-1)

Genre,Action,Adventure,Puzzle,RPG,Simulation,Sports,Strategy
Year_of_Release,,,,,,,
2000,43.66,59.68,30.97,12.02,12.91,38.59,25.92
2001,59.40,38.28,51.15,28.11,30.83,28.16,51.90
2002,38.40,52.02,30.52,38.58,33.28,33.22,28.82
2003,39.93,17.01,49.36,16.57,11.38,45.81,30.30
2004,39.23,50.25,38.84,33.87,5.73,47.78,46.18
2005,35.82,34.40,29.65,8.45,25.34,44.21,52.20
2006,42.21,16.53,39.23,48.59,5.64,57.22,24.81
2007,47.59,22.16,40.10,32.82,20.88,49.41,40.62
2008,13.79,24.23,58.13,17.03,57.85,42.60,37.65
2009,3.97,22.45,41.32,43.46,22.83,44.56,17.96
2010,18.82,56.77,43.02,10.12,37.82,30.48,51.31
2011,22.85,48.78,34.91,39.76,65.13,52.78,32.63
2012,22.19,39.26,34.91,24.16,46.97,35.18,15.10
2013,26.08,58.28,26.15,22.17,47.27,18.02,58.83
2014,28.84,33.55,39.37,60.11,44.24,46.79,47.78
2015,57.41,20.23,9.82,27.11,16.49,36.23,7.89
2016,43.77,62.01,35.40,23.19,37.62,45.67,57.72
2017,33.97,37.82,33.70,32.39,51.88,52.64,50.25
2018,57.72,44.25,16.73,19.45,20.87,46.68,32.61
2019,16.53,23.25,39.59,24.62,32.86,34.89,45.29
2020,12.84,72.57,46.48,29.77,42.92,25.89,23.83

In [33]:
pivot_table = df.pivot_table(values='Global_Sales', index='Year_of_Release', columns='Genre',
aggfunc='sum')

pivot_table.head(-1)

Genre,Action,Adventure,Puzzle,RPG,Simulation,Sports,Strategy
Year_of_Release,,,,,,,
2000,43.66,59.68,30.97,12.02,12.91,38.59,25.92
2001,59.40,38.28,51.15,28.11,30.83,28.16,51.90
2002,38.40,52.02,30.52,38.58,33.28,33.22,28.82
2003,39.93,17.01,49.36,16.57,11.38,45.81,30.30
2004,39.23,50.25,38.84,33.87,5.73,47.78,46.18
2005,35.82,34.40,29.65,8.45,25.34,44.21,52.20
2006,42.21,16.53,39.23,48.59,5.64,57.22,24.81
2007,47.59,22.16,40.10,32.82,20.88,49.41,40.62
2008,13.79,24.23,58.13,17.03,57.85,42.60,37.65
2009,3.97,22.45,41.32,43.46,22.83,44.56,17.96
2010,18.82,56.77,43.02,10.12,37.82,30.48,51.31
2011,22.85,48.78,34.91,39.76,65.13,52.78,32.63
2012,22.19,39.26,34.91,24.16,46.97,35.18,15.10
2013,26.08,58.28,26.15,22.17,47.27,18.02,58.83
2014,28.84,33.55,39.37,60.11,44.24,46.79,47.78
2015,57.41,20.23,9.82,27.11,16.49,36.23,7.89
2016,43.77,62.01,35.40,23.19,37.62,45.67,57.72
2017,33.97,37.82,33.70,32.39,51.88,52.64,50.25
2018,57.72,44.25,16.73,19.45,20.87,46.68,32.61
2019,16.53,23.25,39.59,24.62,32.86,34.89,45.29
2020,12.84,72.57,46.48,29.77,42.92,25.89,23.83